/**
 * ilGhera Carta della Cultura for WC - CSS
 * @author ilGhera
 * @package wc-carta-della-cultura/css
 * @version 0.9.4
 */

input#wc-codice-carta-della-cultura {
	display: block;
	margin-top: 0.5rem;
	width: 100%;
}

label[for="wc-codice-carta-della-cultura"] {
	text-transform: uppercase;
	display: block;
}
